.el-message-box
  width 8.07rem
  height auto
  .el-message-box__header
    span
      font-size .59rem
  .el-message-box__content
    p
      font-size .39rem
      line-height .49rem
      text-align left
      font-weight 200
      .address
        color #409EFF
        font-weight 400
  .el-message-box__btns
    .el-button
      span
        font-size .48rem
        line-height .64rem